body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('https://img.freepik.com/vector-gratis/fondo-campo-futbol-estilo-degradado_23-2148995842.jpg?size=626&ext=jpg&ga=GA1.1.1222169770.1702252800&semt=ais') center center fixed;
  background-size: cover;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 8px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

h2 {
  color: white;
  text-align: center;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  margin: auto;
}

table, th, td {
  border: 1px solid #ddd;
  color: black;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: blue;
  color:white;
}

.eliminar-button {
  background-color: red;
}

.actualizar-button {
  background-color: green;
}